* {
    font-family: sans-serif;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #333333, #111111);
    color: white;
    padding: 0;
}

div {
    margin: 0;
}

h1 {
    font-size: 7vh;
}

h2 {
    font-size: 3vh;
}

.cbtn {
    width: 900px;
    height: 150px;
    margin: 30px auto;
    border-radius: 20px;
    cursor: hand;
    position: relative;
    user-select: none;

    transition: box-shadow .4s, transform .5s;
    box-shadow: 0 0 15px #000000; 
}

.cbtn:hover {
    box-shadow: 15px 15px 30px #353535, -10px -10px 20px #aaaaaa;
    transform: scale(1.01);
    z-index: 5;
}

.countryName {
    font-size: 80px;
    vertical-align: middle;
    margin: 0 auto;
    user-select: none;
    text-shadow: 0 0 6px #ffffff;
    line-height: 170%;
}

a {
    color: inherit;
    text-decoration: none;
}

@media(max-width:1300px) {
    .cbtn {
        width: 90vw;
    }
}